<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true" scanPeriod="60 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <timeZone>system</timeZone>
            <pattern>%-5p [%d{yyyy-MM-dd'T'HH:mm:ss,SSSZ}|%thread] %c: %m%n%rEx</pattern>
        </encoder>
    </appender>
    <logger name="com" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>